*
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body
{
	margin-left: 20px;
	margin-right: 20px;
}

a:hover
{
	cursor: pointer;
}

::-webkit-scrollbar 
{
	width: 4px;
}

::-webkit-scrollbar-track 
{
	background-color: rgba(0, 0, 0, 0);
}
 
::-webkit-scrollbar-thumb 
{
	background-color: rgba(0, 0, 0, 0.15); 
	border-radius: 4px;
}
 
::-webkit-scrollbar-thumb:hover
{
	background-color: rgba(0, 0, 0, 0.3); 
}

#loadingImage
{
	width: 32px; 
	height: 32px;
}

#header
{
	position: fixed;
	top: 0px;

	height: 50px;
	width: 100%;

	padding-top: 15px;
	padding-bottom: 15px;

	z-index: 1;

	background: rgba(255, 255, 255, 0.8);
}

#albumName
{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 40px;
}

#controlBar
{
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	height: 50px;
	z-index: 2;
	background: rgba(255, 255, 255, 0.8);
}

#albumsContainer
{
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
}

#albums
{
	text-align: left;
}

.albumEntry
{
	width: 200px;
	height: 200px;
	display: inline-block;
}

.albumImageSmall
{
	width: 200px;
	height: 200px;
}

#albumImageLarge
{
	display: none;
}

#albumViewContainer 
{
    position: fixed;
	top: 80;
	bottom: 50;
	width: 100%;
	z-index: 1;
	display: none;
}

#albumView
{
	position: absolute;
	bottom: 0px;
	width: 100%; 
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	display: none;
}

#loadingScreen
{
	position: fixed; 
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 50;
	background-color: white;
}

.helper 
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#closeTracks
{
	top: 0;
	right: 35;
	text-align: right;
	position: absolute;
	z-index: 2;
}

#closeTracksImage
{
	height: 20px;
	width: 20px;
}

#artwork
{
	float: left;
	
	width: 50%;
	height: 100%;

	text-align: center;
}

#tracks
{
	float: left;
	
	width: 45%;
	height: 100%;

	overflow: auto;
}

.playButtonSmall
{
	float: left;
	width: 20px;
	margin-top: 7px;
}

.playButtonImage
{
	width: 16px;
	height: 16px;
}

.trackEntry div
{
	height: 30px;
	line-height: 30px;
	display: inline-block;
}

.track
{
	width: 25px;
	text-align: center;
	font-size: small;
}

.song
{
	text-align: left;
}

.time
{
	float: right;
	width: 40px;
	text-align: right;
	margin-right: 15px;
	font-size: small;
}

#footer
{
	height: 50px;
	width: 100%;
}

.templates
{
	display: none;
}