*
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#header
{
	position: fixed;
	top: 0px;

	height: 50px;
	width: 100%;

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 40px;

	background-color: #FFFFFF;
}

#controlBar
{
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	height: 50px;
	background-color: #FFFFFF; 
	z-index: 2;
}

#albums
{
	margin-top: 70px;
}

#album
{
	float: left;
	width: 200px;
	height: 200px;
}

#albumImageSmall
{
	width: 200px;
	height: 200px;
}

#albumImageLarge
{
}

#albumViewContainer 
{
    position: fixed;
	top: 70;
	bottom: 50;
	width: 100%;
	z-index: 1;
	display: none;
}

#albumView
{
	position: absolute;
	bottom: 0px;
	width: 100%; 
	height: 100%;
	background-color: #FFFFFF;
	display: none;
}

#loadingScreen
{
	position: fixed; 
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 50;
	background-color: white;
}

.helper 
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#closeTracks
{
	top: 0;
	right: 15;
	text-align: right;
	position: absolute;
	z-index: 2;
}

#artwork
{
	float: left;
	width: 50%;
	height: 100%;
}

#tracks
{
	width: 50%;
	float: right;
}

#playSong
{
	float: left;
	width: 20px;
	margin-top: 7px;
}

.trackClass div
{
	height: 30px;
	line-height: 30px;
	display: inline-block;
}

#track
{
	width: 25px;
	text-align: center;
	font-size: small;
}

#song
{
	text-align: left;
}

#time
{
	float: right;
	width: 30px;
	text-align: right;
	margin-right: 100px;
	font-size: small;
}