@font-face 
{
  font-family: 'digital-7';
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/digital-7.woff) format('woff');
}

*
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body
{
	margin-left: 20px;
	margin-right: 20px;
}

a:hover
{
	cursor: pointer;
}

::-webkit-scrollbar 
{
	width: 4px;
}

::-webkit-scrollbar-track 
{
	background-color: rgba(0, 0, 0, 0);
}
 
::-webkit-scrollbar-thumb 
{
	background-color: rgba(0, 0, 0, 0.15); 
	border-radius: 4px;
}
 
::-webkit-scrollbar-thumb:hover
{
	background-color: rgba(0, 0, 0, 0.3); 
}

#loadingImage
{
	width: 32px; 
	height: 32px;
}

#header
{
	position: fixed;
	top: 0px;

	height: 60px;

	padding-top: 30px;
	margin-bottom: 17px;

	padding-bottom: 12px;
	padding-left: 20px;

	border-bottom: 1px solid;
	border-bottom-color: lightgrey;

	z-index: 2;

	background: rgba(255, 255, 255, 0.8);
}

#albumName
{
	display: table-cell;
	vertical-align: bottom;

	position: relative;

	height: 60px;
	line-height: 60px;

	overflow: hidden;
}

#albumName span
{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 50px;
}

#albumYear
{
	display: table-cell;
	vertical-align: bottom;

	position: relative;

	left: 17px;
	bottom: 13px;
}

#albumYear span
{
	color: grey;

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

#albumsContainer
{
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;

	padding-bottom: 40px;

	text-align: center;
}

#albums
{
	text-align: left;

	transition: 400ms -webkit-filter linear;
}

.albumEntry
{
	width: 200px;
	height: 200px;

	opacity: 0;

	display: inline-block;

	transition: 400ms opacity linear;
}

.albumEntry:hover
{
	cursor: hand;
}

.albumEntryHover
{
	width: 200px;
	height: 200px;

	position: absolute;
	z-index: 1;

	background: white;

	cursor: hand;

	box-shadow: 0px 0px 0px #000;

	transition: left 300ms linear, top 300ms linear, height 300ms, width 300ms linear, box-shadow 300ms linear;
}

.albumImageSmall
{
	width: 100%;
	height: 100%;

	background: white;

	transition: all 200ms linear;
}

#albumImageLarge
{
	display: none;
	transition: 400ms opacity linear;
}

#albumViewContainer 
{
    position: fixed;

	top: 103px;
	bottom: 80px;

	padding-left: 20px;

	z-index: 1;
	display: none;
	background: rgba(255, 255, 255, 0.7);
}

#albumView
{
	position: absolute;
	bottom: 0px;
	width: 100%; 
	height: 98%;
	display: none;
}

#loadingScreen
{
	position: fixed; 
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 50;
	background-color: white;
}

.helper 
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#closeTracks
{
	top: 6px;
	left: 13px;

	float: left;
	position: relative;
}

#closeTracksImage
{
	height: 20px;
	width: 20px;

	border: 1px solid;
	border-radius: 50%;
	border-color: black;
}

#closeTracksImage:hover
{
	border: 1px solid;
	border-radius: 50%;
	border-color: black;

	background-color: rgba(128, 128, 128, 0.5);

	transition: background-color 200ms linear;
}

#artwork
{
	float: left;
	
	width: 50%;
	height: 95%;

	text-align: center;

	padding-top: 8px;
}

#tracks
{
	float: left;
	
	width: 43%;
	height: 100%;

	margin-top: 8px;
	margin-left: 20px;

	overflow: auto;
}

.playButtonSmall
{
	width: 20px;
	
	top: 10px;
	left: 5px;

	position: absolute;
}

.playButtonSmallImg
{
	width: 16px;
	height: 16px;
	border: 1px solid;
	border-radius: 50%;
	border-color: black;

	transition: background-color 200ms linear;
}

.playButtonSmallImg:hover
{
	background-color: rgba(128, 128, 128, 0.5);
}

#controlBar
{
	position: fixed; 
	bottom: 0px;
	left: 0px; 
	width: 100%; 
	height: 80px;
	z-index: 2;

	background-image: url('/images/ampBackground.png');
	background-size: cover;

	transition: opacity 400ms linear;

	opacity: 0.8;
}

#controlBar:hover
{
	opacity: 1.0;
}

#bkButton
{
   	left: 0px;
}

#playButton
{
   	left: 66px;
}

#fwButton
{
   	left: 199px;
}

.ctrlBtn
{
	position: absolute;

	width: 116px;
	height: 27px;

	bottom: 0px;

	border-top: 1px solid #5b6a73;
	background: linear-gradient(to bottom, #000000, #232729);
   	
   	padding: 5px 5px;
   	border-radius: 3px;

   	box-shadow: rgba(0,0,0,1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	
   	text-align: center;
   	vertical-align: middle;
}

.ctrlBtn:hover
{
	cursor: pointer;
	background: linear-gradient(to bottom, #000000, #666C6F);
}

.ctrlBtn:active
{
	border-top: 0px;
}

.ctrlBtn img
{
	width: 50px;
	height: 50px;
	
	margin-top: -11px;
	
	-webkit-filter: invert(100%);
}

.smallCtrlBtn
{
	width: 50px;
}

#ampDisplay
{
	position: fixed;

	left: 31%;

	width: 40%;
	height: 50px;

	bottom: 8px;

	border-top: 1px solid #5b6a73;
	background: black;
   	
   	padding: 5px 5px;
   	border-radius: 3px;

   	box-shadow: rgba(0,0,0,1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	
   	text-align: center;
   	vertical-align: middle;

   	font-family: 'digital-7', sans-serif;
	font-weight: 400;
}

#currentTime
{
	position: absolute;

	left: 14px;
	top: 3px;

	width: 128px;

	font-family: inherit;
	font-size: 55px;

	text-align: right;

	color: white;

	opacity: 0.6;
}

#songInfo
{
	position: relative;

	font-family: inherit;
	font-size: 16px;

	text-align: left;

	top: 1px;
	left: 154px;

	opacity: 0.6;
}

#totalProgress
{
	position: absolute;

	left: 15px;
	right: 15px;
	bottom: 5px;

	height: 1px;

	border-top: 1px solid;
	border-color: white;

	opacity: 0.2;
}

#progressContainer
{
	position: absolute;

	left: 15px;
	right: 15px;
	bottom: 5px;

	height: 1px;
}

#songProgress
{
	position: absolute;

	bottom: 0px;

	height: 1px;

	border-top: 1px solid;
	border-color: white;

	opacity: 1;
}

.trackEntry
{
	position: relative;

	height: 35px;
}

.trackEntry:hover, .selected
{
	background-color: rgba(128, 128, 128, 0.2);
}

.trackEntry .trackGradient
{
	position: absolute;
		
	opacity: 0;

	height: 35px;
	width: 100%;

	transition: opacity 400ms linear;

	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.65) 23%, rgba(255, 255, 255, 0.65) 81%, rgba(0,0,0,0) 100%);
}

.trackEntry div
{
	line-height: 35px;
	display: inline-block;

	position: absolute;
}

.track
{
	top: 1px;
	left: 25px;

	width: 25px;
	text-align: center;
	
	font-size: small;
}

.song
{
	left: 55px;
	text-align: left;
}

.time
{
	right: 30px;
	width: 40px;

	text-align: right;

	font-size: small;
}

.trackEntry .menuLink
{
	width: 20px;
	height: 100%;

	right: 1px;

	display: none;

	transition: background-color 400ms linear;
}

.menuLink .menuOpen
{
	display: block;
	background-color: rgb(219, 219, 219);
}

.trackMenuButton
{
	position: absolute;

	width: 20px;
	height: 20px;

	top: 8px;
}

#footer
{
	height: 50px;
	width: 100%;
}

.templates
{
	display: none;
}

#volumeContainer
{
	position: absolute;

	right: 1%;
	width: 80px; 
	margin-top: 8px;
}

#volumeKnobImg
{
	display: none;
}

#seekBar 
{
	opacity: 0;
	width: 100%;
	height: 3px;
}

#seekBar:hover
{
	cursor: pointer;
}

#seekBar::-webkit-slider-thumb 
{
	opacity: 0;
}

#controlBtns
{
	position: fixed;
   	left: 2%;
   	bottom: 19px;
   	height: 38px;
   	width: 200px;
}

#dialogContainer
{
	display: none;

	position: fixed; 

	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 100%;
	
	z-index: 5;
	opacity: 1;

	background-color: rgba(255, 255, 255, 0.7);
}

.dialogs h3
{
	margin: 0px;

	padding-left: 15px;
	padding-right: 15px;

	padding-top: 10px;
	padding-bottom: 10px;

	background-color: rgba(255, 217, 255, 0.7);
	box-shadow: 0 0 8px 1px #969696;

	position: relative;
}

.modalContent
{
	padding-left: 15px;
	padding-right: 15px;

	padding-top: 15px;
	padding-bottom: 15px;

	overflow: auto;
}

#editSong
{
	display: none;

	top: 50%;
	left: 50%;
	
	position: absolute;
	
	width: 500px;
	
	z-index: 6;
	
	background-color: white;
	box-shadow: 1px 1px 20px #000000;

	transform: translateX(-50%) translateY(-50%);
}

#confirmDelete
{
	display: none;

	top: 50%;
	left: 50%;
	
	position: absolute;
	
	width: 500px;
	
	z-index: 6;
	
	background-color: white;
	box-shadow: 1px 1px 20px #000000;

	transform: translateX(-50%) translateY(-50%);
}

#filePicker
{
	display: none;

	top: 50%;
	left: 50%;
	
	position: absolute;
	
	width: 500px;
	
	z-index: 6;
	
	background-color: white;
	box-shadow: 1px 1px 20px #000000;

	transform: translateX(-50%) translateY(-50%);
}

.closeDialog
{	
	position: fixed;

	top: 0;
	right: 0;
	
	height: 20px;
	width: 50px;
	
	text-align: center;
	
	background-color: #DE5858;

	transition: background-color 400ms linear;
}

.closeDialog:hover
{
	background-color: #C84F4F;
}

.closeDialog img
{
	width: 20px;
	height: 20px;

	-webkit-filter: invert(100%);
}

.label
{
	width: 100%;
	height: 15px;

	padding-left: 5px;
	margin-bottom: 5px;

	font-weight: bold;	
	font-size: small;
}

input
{
	height: 22px;
	width: 100%;

	padding: 5px;

	margin-bottom: 7px;
	border: solid 1px #DCDCDC;

  	transition: box-shadow 0.4s, border 0.4s;
}

#editArtwork:focus,
#editArtwork:hover,
input:focus,
input:hover
{
	border: solid 1px #707070;
 	box-shadow: 0 0 5px 1px #969696;
}

#editArtwork
{
	width: 100%;
	border: solid 1px #DCDCDC;
  	
  	transition: box-shadow 0.4s, border 0.4s;
}

.dialogBtn
{
	margin-left: 10px;
	min-width: 70px;
}

.dialogFooter
{
	height: 25px;
	
	text-align: right;
	padding: 10px;
	
	background-color: rgba(255, 217, 255, 0.7);
	box-shadow: 0 0 8px 1px #969696;
	
	position: relative;
}

.menus
{
	position: fixed;

	display: none;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	z-index: 49;
}

.menus .contextMenu
{
	position: fixed;
	display: none;

	width: 120px;
	
	padding-top: 3px;
	padding-bottom: 3px;

	font-size: 13px;

	border: 1px solid;
	border-color: rgb(148, 148, 148);
	
	background-color: white;

	box-shadow: 0 0 8px 1px #969696;

	z-index: 50;
}

.menus .contextMenu div
{
	padding: 5px;
	padding-left: 20px;

	height: 13px;
	line-height: 13px;
}

.menus .contextMenu div:hover
{
	cursor: hand;

	color: white;
	background-color: #6666FF;
}

#menuBar
{
	position: absolute;
	
	top: 0px;
	right: 0px;
	
	z-index: 2;
	
	height: 35px;
}

.menuBarBtn:hover, .menuBarBtn.menuOpen
{
	opacity: 1;
}

.menuBarBtn
{
	height: 30px;
	width: 30px;

	opacity: 0.3;

	transition: 200ms opacity linear;
}

.menuBarImg
{
	height: 100%;
	width: 100%;
}

#fileView
{
	margin-bottom: 10px;
	border: solid 1px #DCDCDC;
	padding: 8px;
	height: 300px;
	overflow: auto;
}

.fileEntry
{
	cursor: hand;

	padding-left: 20px;
	padding-bottom: 2px;
}

.fileEntry.selected
{
	color: white;

	background-color: #6666FF;
}

.fileEntry .fileName
{
	width: 80%;
	height: 21px;

	overflow: hidden;
}

#goUp
{
	display: inline-block;
}

#currentDir
{
	margin-left: 6px;
	
	width: 440px;
}